Node red flow/flows.json
[{"id":"52825875.ee8c68","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"62aa25c6.6a333c","type":"ui_form","z":"52825875.ee8c68","name":"","label":"","group":"21762bef.6437e4","order":1,"width":0,"height":0,"options":[{"label":"enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["13558c61.d69904"]]},{"id":"13558c61.d69904","type":"function","z":"52825875.ee8c68","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["cd3f0b21.68e9c8","b94e8d69.46abe"]]},{"id":"da3959ee.949338","type":"function","z":"52825875.ee8c68","name":"","func":"msg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text;\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["ee1099ac.baabc8"]]},{"id":"cd3f0b21.68e9c8","type":"watson-conversation-v1","z":"52825875.ee8c68","name":"customer care","workspaceid":"c13d047e-f08f-42a4-8b03-92b29d7a7cee","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":360,"y":120,"wires":[["5b9567d0.fd50e8","da3959ee.949338"]]},{"id":"b94e8d69.46abe","type":"ui_text","z":"52825875.ee8c68","group":"21762bef.6437e4","order":2,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-left","x":340,"y":320,"wires":[]},{"id":"5b9567d0.fd50e8","type":"debug","z":"52825875.ee8c68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":60,"wires":[]},{"id":"ee1099ac.baabc8","type":"ui_text","z":"52825875.ee8c68","group":"21762bef.6437e4","order":3,"width":11,"height":9,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":680,"y":300,"wires":[]},{"id":"21762bef.6437e4","type":"ui_group","z":"","name":"Chatbot","tab":"99923adf.1ef448","order":1,"disp":true,"width":"11","collapse":false},{"id":"99923adf.1ef448","type":"ui_tab","z":"","name":"Customer Care helpdesk","icon":"dashboard","disabled":false,"hidden":false}]